version: "3.9"

services:
  bot:
    build:
      context: .
    env_file:
      - .env
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - YANDEX_TOKEN=${YANDEX_TOKEN}
      - LOG_LEVEL=${LOG_LEVEL:-info}
    restart: unless-stopped

